.hero
    &__bg
        background: url('../img/hero-bg.png') no-repeat center / cover
    &__text
        margin-top: 178px
        &-h1
            margin: 0
            font-size: 40px
        &-h2
        &-p
            margin-top: 29px