.process
    padding-top: 111px
    padding-bottom: 116px
    position: relative
    &__head
        max-width: 461px
        margin-bottom: 111px
        &-text
            font-size: 35px
    &-items
        display: flex
        justify-content: space-between
    &__item
        max-width: 180px
        max-height: 160px
        &-top
            font-weight: 700
            font-size: 25px
        &-center
            margin: 43px 0 29px 0
.process:before
    content: ""
    position: absolute
    background: rgba(234, 241, 247, 1) center / cover
    width: 200%
    height: 100%
    z-index: -1
    transform: rotate(-6.5deg)